
.workWrapper{
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 100px;
}
.workWrapper h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.allworks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.single-work {
position: relative;
display: flex;
justify-content: center;
align-items: center;
gap: 20px;
width: 71%;
height: 60vh;
background: #444444;
box-sizing: border-box;
padding-left: 20px;
transition: .5s;
overflow: hidden;
margin: 0 10px;
text-align: center;
border-radius: 20px;
}
.textofwork{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
    height: 100%;
}
.imgofwork{
    width: 40%;
    height: 100%;
    
}
.imgofwork img{
    margin-left: auto;
    height: 100%;
    width: 100%;
}

.single-work p{ 
    font-size: 16px;
}
.single-work h3 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.social {
width: 60px;
height: 60px;
background: #262626;
border-radius: 50%;
margin: 5% auto;
}
.social i {
font-size: 30px;
padding: 15px;
    color: #fff;
}
.single-work:hover{
    box-shadow: 0 30px 35px rgba(0,0,0,0.7);
}
.single-work span {
position: absolute;
top: 0;
left: -110%;
width: 100%;
height: 100%;
background: rgba(241, 187, 187, 0.7);
transition: .7s;
transform: skewX(10deg);
}
.single-work:hover span{
    left: 110%;
}

@media (max-width:1000px){
.workWrapper {
width: 100%;
}
.single-work {
width: 95%;
height: auto;
padding: 20px;
margin-bottom: 30px;
display: flex;
flex-direction: column;
margin-bottom: 0px;
}
.workWrapper h2 {
font-size: 30px;
}
.textofwork{
    gap: 10px;
    width: 90vw;
}
.imgofwork{
    width: 90%;
}
}



.workHero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #182c00, #000000, #4e2c2c, #000000, #012710);
    color: #fff;
    text-align: center;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.workHero .video-container{
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
}
.workHero .workText{
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    margin-top: -400px;
}
.role{
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 500px;
    
}
.roleLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 40%;
    gap: 5px;
    padding: 20px;
    padding-left: 100px;
}
.roleLeft h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin: 0;
    color: red;
    text-decoration: underline;
}
.roleRight img{
    height: 500px;
    width: 100%;
    border-radius: 0%;
}
.roleRight{
    width: 50%;
}
.responsiveWork{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 300px;
}
.responsiveWorkText{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.responsiveWorkImage{
    /* width: 90%; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.responsiveWorkImage img{
    width: 95vw;
    height: 70vh;
}
.allStuff{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 300px;
}

.allStuffText{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.allStuffMedia {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 images per row */
    gap: 10px; /* Space between the images */
  }
  
  .allStuffMedia img {
    width: 100%;
    height: 500px;
  }
  .moreWorks{
    margin: 200px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .contactCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 100%;
    height: 50vh;
    margin-top: 200px;
  }


  .contactCard p{
    margin-left: -500px;
    color: red;
  }

  @media (max-width: 1000px){
    .workHero{
    height: 60vh;
    }
    .workHero .workText{
    margin-top: -100px;        
    }
    .allStuffText {
    width: 90%;
    }
  }
  
  @media screen and (max-width: 768px) {
    .role {
      flex-direction: column;
      align-items: center;
      margin-top: 200px;
    }
  
    .roleLeft, .roleRight {
      width: 100%;
      text-align: center;
    }
    .roleLeft{
        padding: 20px;
    }
    .roleRight img {
      width: 100%;
      height: auto;
    }
    .responsiveWork{
        margin-top: 700px;
    }
    .responsiveWorkText{
        width: 95%;
    }
    .responsiveWorkImage img {
        width: 100vw;
        height: 70vh;
    }
    .allStuffMedia {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
      }
  }
  @media screen and (max-width: 600px){
    .responsiveWork{
        margin-top: 500px;
    }
  }
  .allStuffText ul li:before {
    content: "—";
    color: rgba(194, 187, 187, 0.788);
    margin-right: 10px;
}
.allStuffText ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    gap: 10px; /* Adjust the gap between items if needed */
}

.allStuffText ul li {
    font-family: UniversalSans-740, Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 10px;
}
